@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Environment.MachineName</h1>
    <p><b>Application Version</b>: @Configuration["Version"]</p>
</div>
